<div class="container">
    <title>BROWSE BY DRESS STYLE</title>
    <div class="row1">
        <div class="casual">
            <h2>casual</h2>
            <img src="/images/casual.png" alt="">
        </div>
        <div class="formal">
            <h2>formal</h2>
            <img src="/images/formal.png" alt="">
        </div>
    </div>
    <div class="row2">
        <div class="party">
            <h2>party</h2>
            <img src="/images/party.png" alt="">
        </div>
        <div class="gym">
            <h2>gym</h2>
            <img src="/images/gym.png" alt="">
        </div>
    </div>
</div>